<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/logo.jpg" alt="">
    </div>

    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="assets/images/profile-img.jpg" alt="">
            <div class=" profile__name">Денис Скрипниченко</div>
            <div class="profile__prof">Блог front-end разработчика и по совместительству камрада :-)</div>

            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/instagram.svg" alt="Дмитрий Валак instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/vk.svg" alt="Дмитрий Валак vk">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/pinterest.svg" alt="Дмитрий Валак pinterest">
                    </a>
                </li>
            </ul>

            <div class="profile__text">
                <p>Приветствую Вас на своей страничке, первую свою HTML страницу я выложил на хостинг в 2011 году. Далее
                    занимался созданием и поддержкой сайтов на CMS Joomla & Wordpress. Сейчас закончил онлайн академию
                    Codifun, в сертификате написано, что успешно! Сертификат международного образца, его можно видеть
                    чуть ниже. В настоящий момент ищу работату HTML, CSS верстальщика, буду рад рассмотреть предложения
                    в этом направлении.</p>
            </div>
        </div><!-- /.profile -->
    </div><!-- /.sidebar__content -->

    <div class="sidebar__footer">
        <a class="btn  btn--red" href="works.html">Мои работы</a>
        <button class="btn  btn--blue" type="button">Написать мне</button>
    </div>
</aside>